@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* line 18, ../../Documents/GitHub/velosite/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 20, ../../Documents/GitHub/velosite/sass/style.sass */
body {
  font-family: 'Lato';
}

/* line 23, ../../Documents/GitHub/velosite/sass/style.sass */
.container {
  max-width: 111rem;
}

/* line 26, ../../Documents/GitHub/velosite/sass/style.sass */
.ghost-link {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 1, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* line 5, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 15, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.header__body {
  width: 100%;
  height: 100%;
}

/* line 20, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* line 25, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.nav__item {
  color: #4d4959;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.26rem;
  margin-right: 7.5rem;
}

/* line 32, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.nav__item:last-child {
  margin-right: 0;
}

/* line 1, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.row {
  display: flex;
  height: 60rem;
}

/* line 5, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.main-col, .side-col {
  height: 100%;
}

/* line 7, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.main-col {
  flex: 3;
}

/* line 9, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.side-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* line 13, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.company {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* line 17, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.company__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* line 22, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.company__logo {
  position: absolute;
  z-index: 2;
}

/* line 28, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

/* line 32, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.product__descr {
  flex: 2;
  display: block;
}

/* line 36, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.product__product-photo {
  flex: 1;
  height: 200px;
  width: 200px;
  border: 2px solid red;
}

/* line 1, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

/* line 7, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 7rem;
}

/* line 11, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card--fluid {
  width: 100%;
  text-align: center;
  padding: 11.7rem 0 14.2rem;
}

/* line 18, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card__title {
  margin: 2.6rem 0 3.1rem;
  color: #353738;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.36rem;
}

/* line 26, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card__text {
  color: #848789;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

/*# sourceMappingURL=style.css.map */