@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* line 23, ../../Documents/GitHub/velosite/sass/style.sass */
.rr {
  flex-direction: row-reverse;
}

/* line 26, ../../Documents/GitHub/velosite/sass/style.sass */
html {
  font-size: 62.5%;
}

/* line 28, ../../Documents/GitHub/velosite/sass/style.sass */
body {
  font-family: 'Lato';
}

/* line 31, ../../Documents/GitHub/velosite/sass/style.sass */
.container {
  max-width: 111rem;
}

/* line 34, ../../Documents/GitHub/velosite/sass/style.sass */
.ghost-link {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 42, ../../Documents/GitHub/velosite/sass/style.sass */
.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 45, ../../Documents/GitHub/velosite/sass/style.sass */
.link__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.4s;
  opacity: 0.8;
}

/* line 50, ../../Documents/GitHub/velosite/sass/style.sass */
.link__logo {
  z-index: 2;
}

/* line 52, ../../Documents/GitHub/velosite/sass/style.sass */
.link:hover .link__layer {
  background-color: #64c29e;
}

/* line 1, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* line 5, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 15, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.header__body {
  width: 100%;
  height: 100%;
}

/* line 20, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* line 25, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.nav__item {
  color: #4d4959;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.26rem;
  margin-right: 7.5rem;
}

/* line 32, ../../Documents/GitHub/velosite/sass/sections/_header.sass */
.nav__item:last-child {
  margin-right: 0;
}

/* line 1, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.row {
  display: flex;
  position: relative;
}

@media screen and (max-width: 68.75em) {
  /* line 1, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
  .row {
    flex-direction: column;
  }
}

/* line 9, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.main-col {
  flex: 2;
}

/* line 11, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.side-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* line 15, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.company {
  position: relative;
  height: 100%;
}

/* line 18, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.company__bg {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 68.75em) {
  /* line 18, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
  .company__bg {
    padding-bottom: 70%;
  }
}

/* line 24, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.company__link:hover .link__layer {
  background-color: black;
  opacity: 0.3;
}

/* line 30, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.product {
  display: flex;
  flex-direction: column;
}

/* line 32, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.product__descr {
  flex: 2;
  display: block;
}

/* line 36, ../../Documents/GitHub/velosite/sass/sections/_products.sass */
.product__photo {
  flex: 1;
  padding-bottom: 37%;
}

/* line 1, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

/* line 7, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15%;
  position: relative;
  z-index: 2;
  min-height: 41rem;
}

/* line 14, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card:after {
  content: '';
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7.5px);
  transform: rotate(45deg);
}

@media screen and (max-width: 79.375em) {
  /* line 7, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
  .card {
    padding: 5rem;
  }
}

/* line 24, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card--fluid {
  width: 100%;
  text-align: center;
  padding: 11.7rem 0 14.2rem;
}

/* line 28, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card--fluid:after {
  display: none;
}

/* line 33, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card__title {
  margin: 2.5rem 0 3rem;
  color: #353738;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.36rem;
}

/* line 41, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card__text {
  color: #848789;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
}

/* line 48, ../../Documents/GitHub/velosite/sass/blocks/_card.sass */
.card--fluid .card__title {
  margin: 3.5rem 0;
}

/*# sourceMappingURL=style.css.map */