.promo
	+centered
	background-color: $gray-3

.container

.card
	+centered
	flex-direction: column
	padding: 7rem
	&--fluid
		width: 100%
		text-align: center
		padding: 11.7rem 0 14.2rem

	&__icon

	&__title
		margin: 2.6rem 0 3.1rem
		color: $black-2
		font-size: 1.8rem
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 0.36rem

	&__text
		color: $gray-1
		font-size: 1.6rem
		font-weight: 400
		line-height: 3rem
